# Enverido API key. This must be an actual API key
API_KEY=

# Organisation - as under your enverido account
ORGANISATION=

# Product public key - pick one of your product's on Enverido.
PUBLIC_KEY=

# Product to test. This must be the same product as you got the public key from before
PRODUCT_ID=

# Licence to test. This must be a licence for the product you provided above
LICENCE_ID=

# Shortcode associated with the licence ID to test
LICENCE_SHORTCODE=

# This must be the email on the licence
EMAIL=

# This must be the IP address on the licence
IP=